.final-game-result {
    background-color: #124411;
    border-radius: 5px;
    width: 90%;
    height: 90%;
    padding: 30px;
    margin: auto;
    font-size: xx-large;
}

.won {
    color: #cbffc4;
}

.game-over {
    color: #ff5252;
}

.final-game-result button{
background-color: #cbffc4;
}